<html>
	<head>
		<title>George Ciuca - Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="./static/cat.ico"/>
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Hello<br />
						there</h1>
						<p>My name is George, I am a Python developer, true problem solver,<br />
						with excellent communication and leadership skills.</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Portfolio</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="projects.html">Projects</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/george-ciuca-589421145" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedIn</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
<!--									<span class="date">placeholder</span>-->
									<h2>about me</h2>
									<p>My name is George Ciuca, located in Bucharest - Romania.<br />
									Passionate about football, movies and chess.<br />
									Constantly working hard to improve my Python knowledge <br />
									in order to master all aspects of this language.</p>
								</header>
								<ul class="actions special">
									<li><a href="summary.html" class="button large">Professional Summary</a></li>
								</ul>
<!--								<header class="major">-->
<!--									<br />-->
<!--									<br />-->
<!--								<p>Below is how each day starts. True, that's not really my keyboard. Nor my cup of coffee.-->
<!--								<a href="#" class="image main"><img src="./static/images/pic01.jpg" alt="" /></a></p>-->
<!--									</header>-->
							</article>


							</section>
							<article class="post featured">
								<header class="major">
									<h2>Projects</h2>
								</header>
								</article>
								<section class="posts">
								<article>
									<header>
										<h2><a href="https://replit.com/@GeorgeCiuca/libraryapp" target="_blank">Library Management App</h2>
									</header>
									<a href="https://replit.com/@GeorgeCiuca/libraryapp" target="_blank" class="image fit"><img src="./static/images/library.jpg" alt="" /></a>
									<p>Program created based on OOP. Library data is appended in real time in CSV files.<br>
									&nbsp;</p>
									<ul class="actions special">
										<li><a href="https://replit.com/@GeorgeCiuca/libraryapp" target="_blank" class="button">View</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="https://replit.com/@GeorgeCiuca/foodyZ#main.py" target="_blank">FoodyZ App</h2>
									</header>
									<a href="https://replit.com/@GeorgeCiuca/foodyZ#main.py" target="_blank" class="image fit"><img src="./static/images/foodyz.jpg" alt="" /></a>
									<p>Tkinter GUI App created for managing a cooking business with delivery with 4 different users and accesses.</p>
									<ul class="actions special">
										<li><a href="https://replit.com/@GeorgeCiuca/foodyZ#main.py" target="_blank" class="button">View</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="https://replit.com/@GeorgeCiuca/Jokesone-mail?v=1" target="_blank">Jokes Newsletter</h2>
									</header>
									<a href="https://replit.com/@GeorgeCiuca/Jokesone-mail?v=1" target="_blank" class="image fit"><img src="./static/images/pic02.jpg" alt="" /></a>
									<p>Program created for generating unique programmer jokes via e-mail. Input is stored in a file and e-mails are generated based on it.</p>
									<ul class="actions special">
										<li><a href="https://replit.com/@GeorgeCiuca/Jokesone-mail?v=1" target="_blank" class="button">View</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="https://replit.com/@GeorgeCiuca/Footballnewswebscrapping?v=1" target="_blank">Filter Football News</h2>
									</header>
									<a href="https://replit.com/@GeorgeCiuca/Footballnewswebscrapping?v=1" target="_blank" class="image fit"><img src="./static/images/pic03.jpg" alt="" /></a>
									<p>Filter news about your favorite football team through webscraping!<br>
									&nbsp;</p>
									<ul class="actions special">
										<li><a href="https://replit.com/@GeorgeCiuca/Footballnewswebscrapping?v=1" target="_blank" class="button">View</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="https://replit.com/@GeorgeCiuca/supermarketcashier?v=1" target="_blank">Supermarket Cashier</a></h2>
									</header>
									<a href="https://replit.com/@GeorgeCiuca/supermarketcashier?v=1" target="_blank" class="image fit"><img src="./static/images/pic04.jpg" alt="" /></a>
									<p>Tool to help cashier calculate and print bill amount based on shopping items of each customers.<br>
									&nbsp;</p>
									<ul class="actions special">
										<li><a href="https://replit.com/@GeorgeCiuca/supermarketcashier?v=1" target="_blank" class="button">View</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="https://replit.com/@GeorgeCiuca/PasswordChecker?v=1" target="_blank">Password checker</a></h2>
									</header>
									<a href="https://replit.com/@GeorgeCiuca/PasswordChecker?v=1" target="_blank" class="image fit"><img src="./static/images/pic05.jpg" alt="" /></a>
									<p>Check if your password is compromised through an API and using a secure method (hashing).<br>
									&nbsp;</p>
									<ul class="actions special">
										<li><a href="https://replit.com/@GeorgeCiuca/PasswordChecker?v=1" target="_blank" class="button">View</a></li>
									</ul>
								</article>
							</section>



					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="submit_form">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>Bucharest, Romania<br />
								041126</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p>+40 721 122 935</p>
							</section>
							<section>
								<h3>Email</h3>
								<p>georgeadrian.ciuca@yahoo.com</p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="https://www.linkedin.com/in/george-ciuca-589421145" class="icon brands fa-linkedin" target="_blank"><span class="label">linkedIn</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>